table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid var(--clr-text-400);
  text-align: left;
  padding: 8px;
}

th {
  color: var(--clr-accent);
  background-color: var(--clr-primary-400);
}

tr:nth-child(even) {
  /*
  background-color: var(--clr-primary-400);
  */
}
