table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 2px solid var(--clr-accent);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--clr-text-400);
  color: var(--clr-secondary-400);
}
