.home {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  gap: 16px;
}

.current-prices .current-price {
  display: grid;
  grid-template-columns: 112px 1fr;
}

.current-price__coin-name {
  color: var(--clr-accent);
  text-transform: capitalize;
}

.compare-prices {
  .prices {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    &__current-price,
    &__historic-price,
    &__difference {
      display: grid;
      grid-template-columns: 112px 1fr;
    }
  }
  .coin-price--historic {
    display: inline;
  }
}

.chart-and-table {
  .spinner {
    display: flex;
    justify-content: center;
    svg {
      width: 56px;
      height: 56px;
    }
  }
}
