/* CUSTOM PROPERTIES */
:root {
  --ct-ff-400: sans-serif;

  --clr-primary-400: #999;
  --clr-secondary-400: #666;

  --clr-primary-400: #444;
  --clr-secondary-400: #333;
  --clr-text-400: #f1f2f4;
  --clr-accent: #f7931a;
  --clr-sn: #353a90;

  --border: 1px solid currentColor;
  --border-radius: 2px;
  --gap: 8px;
  --flow-space: 8px;

  --transition: all 0.3s ease-in;
}

/* RESET */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button,
a {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

/* BASIC STYLES */
body {
  margin: 0;
  margin-right: calc(var(--gap) * 2);
  margin-left: calc(var(--gap) * 2);
  font-family: var(--ct-ff-400);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--clr-primary-400);
  color: var(--clr-text-400);
}

.App {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 960px;
  margin: auto;
  margin-top: 48px;
}

code {
  font-family: monospace;
}

.app-heading {
  font-size: 48px;
  color: var(--clr-accent);
}

button {
  height: 32px;
  padding: 0 0.5em;
  border: var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);

  &:hover,
  &.active {
    background-color: var(--clr-text-400);
    color: var(--clr-primary-400);
    transition: all 0.2s ease-in;
  }
}

// Header
header {
  display: flex;
  justify-content: space-between;
}

// Loading spinner
.spinner {
  text-align: center;
}

.bi-arrow-clockwise {
  animation: spin 1s linear infinite;
  display: block;
  height: 16px;
  width: 16px;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

// Date picker
.date-picker {
  height: 32px;
  border: var(--border);
  color: var(--clr-text-400);

  &.label-visible {
    display: flex;
    border: 0;

    .date-picker__input {
      border: var(--border);
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      color: var(--clr-text-400);
      width: 152px;
    }
  }
}

.date-picker__label {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-right-width: 0;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  padding: var(--gap);
}

.date-picker__input {
  height: 100%;
  width: 100%;
  padding: 4px;
  border: 0;
  background-color: transparent;
  color: #f1f2f4;
}

.date-picker__input::-webkit-calendar-picker-indicator {
  background-color: var(--clr-text-400);
  border-radius: var(--border-radius);
  height: 18px;
  width: 18px;
}

// Button
.btn {
  background: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
  border-color: var(--clr-accent);
  color: var(--clr-primary-400);
  background-color: var(--clr-accent);
  transition: var(--transition);

  &:hover {
    color: var(--clr-accent);
    background-color: var(--clr-primary-400);

    transition: var(--transition);
  }

  &-link {
    text-decoration: none;
    display: inline-block;
  }
}

// Utilities
.flow > * ~ * {
  margin-top: var(--flow-space);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
}

.grid-fw {
  grid-column: 1 / -1;
}

.text-accent {
  color: var(--clr-accent);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.price-trend {
  position: relative;

  button {
    position: absolute;
    right: 24px;
    top: 24px;
    margin-top: 0;
  }

  &__pick-dates {
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--flow-space) * 3);
    margin-bottom: calc(var(--flow-space) * 3);
  }
}
