/* CUSTOM PROPERTIES */
:root {
  --ct-ff-400: sans-serif;

  --clr-bg-400: #333;
  --clr-text-400: #f1f2f4;
}

/* RESET */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* BASIC STYLES */
body {
  margin: 0;
  font-family: var(--ct-ff-400);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--clr-bg-400);
  color: var(--clr-text-400);
}

code {
  font-family: monospace;
}

button,
a {
  font-family: inherit;
  color: inherit;
}
